{% extends 'base.html' %}

{% block content %}
   <div>
      <div>
         <div>
            <h3>Edit list:</h3>
            <h5>{{todo_list.title}}</h5>
         </div>
         <ul>
            {% for item in todoitem %}
               <li>
                  <div>
                     <div role="button" onclick="location.href='{% url "item-update" todo_list.id item.id %}'">
                        {{item.title}}
                        (Due {{item.due_date}})
                     </div>
                  </div>
               </li>
            {% empty %}
               <p>There are no to-do items in this list.</p>
            {% endfor %}
         </ul>
         <p>
            <input type="button" value="Add a new item" onclick="location.href='{% url "item-add" todo_list.id %}'">
         </p>
      </div>
   </div>
{% endblock %}